@charset "utf-8";
/*
 * AneOK #2
 * NexT-Ti Skin v2 리메이크(Remake) 
 */

 /* 
 * 공통
 */

ul,ol {list-style: none;}
code{padding:3px 4px 1px;font-size: 90%;color: #d63384;border-radius: 3px;}
pre > code, pre code {font-size:.875rem;line-height: 1.5;word-wrap:break-word;}
ol,ul,dl{font-size:16px;padding-left:0;list-style:none}
ol li,ul li{margin-left:12px;padding-left:0}
li:::after{clear:both}
li >:last-child{margin-bottom:0}
li:nth-child(n+2),li ul{margin-top:2px}
dt,dd{margin-left:0}
h1, h2{letter-spacing:-1.5px}
h2, h3{font-weight:900;margin-top:60px;}
h3, h4{letter-spacing:0;margin-top:45px}
fieldset{border:1px solid var(--line-color);border-radius:5px;padding:8px 12px 0}

/* 기본 추가 */
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,
.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,
h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,
.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small {
  letter-spacing:0
}

/* 옆 라인용으로 추가 { */h2, h3{white-space: nowrap;overflow: hidden;}
/* 옆 라인용 */h2::after,h3::after {display:none;margin-left:24px;content:'';vertical-align:middle;width:100%;height:1px;background:linear-gradient(to right,rgba(116,95,181,0.2),transparent 50%)}

.h-hash {color:var(--content-bg-color);}
.lead{font-size:1.75rem;line-height:1.5;font-weight:300}
.point{font-size:1.75rem;line-height:1.5;font-weight:700}

/* 티스토리 */
/* 티스토리 ccl */.postbtn_ccl{display: none!important;}
/* 티스토리 youtube */.tt-youtube-plugin{position:relative;width:100%;padding-bottom:56.25%;text-align: inherit!important;}.tt-youtube-plugin iframe{position:absolute;width:100%;height:100%;}
/* 티스토리 하단 페이스북 위치변경 */.container_postbtn {padding:55px 0 0!important;}.container_postbtn + div {margin-top: -26px!important;padding-top: 0!important;padding-left: 158px!important;clear: none!important;}
/* 티스토리 하단 하트박스 라운드 제거 */.container_postbtn .postbtn_like {border-radius:0 !important}.container_postbtn .postbtn_like + .btn_menu_toolbar {display: none}
/* 티스토리 다운로드 파일 변경 */figure.fileblock .desc,#tt-body-page figure.fileblock .desc{line-height:normal;}figure.fileblock{font-weight:400;}

.table,
.note,
.exbody {
  margin: 0 0 20px 0
}
* + .table,
* + .note,
* + .exbody {
  margin-top: 20px
}

.head-meta {width: 260px;height: 97px;padding: 0;}

/* entry-content */
.entry-content .btn_more, .entry-content .btn_less {
  position: relative
}
.entry-content .txt_view {
  margin-top: 25px
}
.entry-content .txt_fold,
.entry-content .btn_more{
  display: block;
  padding: 0 14px;
  color: var(--e-text-color)!important;
  font-size: 19px!important;
  font-weight: 600;
  z-index: 2;
  line-height: 14px!important;
  text-transform: none;
  border-bottom: none;
}
.btn-toggle-moreless {
  display: block;
  padding: 0 14px;
  color: var(--e-text-color)!important;
  /*font-size: 19px!important;*/
  /*font-weight: 600;*/
  z-index: 2;
  /*line-height: 14px!important;*/
  text-transform: none;
  border-bottom: none;
}
.entry-content .btn_more::before {
  font-family: 'iconfont';
  content: '\e784';
  color: var(--e-text-color);
  margin-right: 5px;
  vertical-align: top;
  font-size: 18px;
  line-height: 8px;
  padding-right: 0;
}
.btn-toggle-moreless::before {
  font-family: 'iconfont';
  content: '\e784';
  color: var(--e-text-color);
  margin-right: 5px;
  vertical-align: text-bottom;
  /*font-size: 18px;*/
  /*line-height: 8px;*/
  padding-right: 0;
}
.entry-content .moreless_content .txt_fold::before {
	font-family: 'iconfont';
  content: '\e784';
  transform: rotate(90deg);
  color: var(--e-text-color);
  margin-right: 5px;
  vertical-align: top;
  font-size: 18px;
  line-height: 8px;
  padding-right: 0;  
}
.entry-content .moreless_content .btn_less::before,
.entry-content .moreless_content .btn_less:last-child {
	display: none;
}
.entry-content .btn_more:hover, .entry-content .btn_less:hover {
  transition-duration:.5s
}

.entry-content .btn_more::after,
.entry-content .moreless_content .txt_fold::after {
  display:none;content:'';
}

.post-qr {display: none;}
.post-metaed-ed {width: 100%}

div[data-ke-type="moreLess"] {
  word-break:break-all;
  margin: 0 0 16px 0
}
* + div[data-ke-type="moreLess"] {
  margin-top: 16px;
}
.moreless-content {
  margin-top: 24px;
}

@media (min-width:1024px) { /* screen >= 480px 데스크톰 영역 */
  h2::after,h3::after {display:inline-block;}
  .entry-content .btn_more::after,
  .entry-content .moreless_content .txt_fold::after {
    display:inline-block;content:'';z-index:1;color:#92a0ad;margin-left:5px;opacity:0;
  }
  .entry-content .btn_more:hover::after,
  .entry-content .btn_more:visited::after {
    content:' open';opacity:1;
  }
  .entry-content .moreless_content .txt_fold:hover::after,
  .entry-content .moreless_content .txt_fold:visited::after {
    content:' close';opacity:1;
  }
  .post-qr {display: block;width: 55px; margin-top: 11px;padding-left: 0;}
  .post-metaed-ed {width: calc(100% - 65px)}
}

/* 스킨 변경 로그 ( Skin change log ) */
.components-container {overflow: hidden;}
.component-container:first-child {
  border-top-width: 1px;
  border-radius: 4px 4px 0 0 !important;
  -moz-border-radius: 4px 4px 0 0 !important;
  -webkit-border-radius: 4px 4px 0 0 !important;
  -o-border-radius: 4px 4px 0 0 !important;
  -ms-border-radius: 4px 4px 0 0 !important;
}
.component-container {
  border-bottom-width: 1px;
  border-left-width: 1px !important;
  border-right-width: 1px;
  border-top-width: 0px;
  float: none;
  width: 100%;
}
.component-container:last-child {
  border-radius: 0 0 4px 4px !important;
  moz-border-radius: 0 0 4px 4px !important;
  ms-border-radius: 0 0 4px 4px !important;
  o-border-radius: 0 0 4px 4px !important;
  webkit-border-radius: 0 0 4px 4px !important;
}
.is-group {
  padding: 1.4rem 1.25rem 1.3rem;
  border-style: solid;
}
.component-container.is-group>.component-inner-container {
  cursor: pointer;
}
.component-container .name {
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  font-weight: 500;
  max-width: 75%;
  color:#000;
}
.component-container .component-status {
  display: inline-block;
  font-size: 0.875rem;
  float: right;
}
.shared-partial {
  padding-top: 5px;
  margin-bottom: -2px;
} 
.shared-partial svg {
  margin: 0;
  padding: 0;
  height: 34px;
  width: 100%;
  overflow: hidden;
}
.shared-partial svg rect:hover {
  fill: #5e6c84;
}
.component-inner-container .legend {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -2px;
  padding-left: 5px;
}
.component-inner-container .legend .legend-light {
  color: #aaaaaa;
  opacity: 0.8;
  flex: 0 0 auto;
  font-size: .875rem;
  position: relative;
}
.component-inner-container .legend .spacer {
  background: #aaaaaa;
  opacity: 0.3;
  flex: 1;
  margin: 0.75rem 1rem 0 1rem;
  height: 1px;    
}
.component-inner-container .legend .tc {
  color: #000;
  opacity: 1;
  font-weight: 700;
}
.status-events {
  margin-top: 70px;
  margin-bottom:70px;
}  
.status-day {
  margin-top: 35px;
}
.status-day .date {
  font-weight: 500;
  border-bottom: 1px solid #171717;
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-size: 29px;
  line-height: 29px;
  font-size: 1.75rem;
  line-height: 1.8125rem;
}
.status-day .date small {
  font-size:14px;
}
.status-day .date .gith-c {
  font-size: 14px;
  font-weight: 300!important;
}
.status-day .date .gith-c a, .status-day .update .a-links {    
  color:#aaa;
}
.status-day .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  font-size: 1.25rem;
  line-height: 1.8125rem;
}
.status-day .title.a {
  color:#00bc87;
}
.status-day .title.c {
  color:#1e87f0;
}
.status-day .title.f {
  color:#faa05a;
} 
.status-day .title.d {
  color:#dc3545;
}   
.status-day .update {
  margin: 0.5rem 0;
}
.status-day h2:after,
.status-day h3:after {
  display: none;
}
.page-footer {
  padding-top: 0.75rem;
  margin: 70px 0;
  border-top: 1px solid #171717;
  overflow: hidden;
}
#tooltip {
  position: relative;
  font-size: 14px;
  padding: 4px 15px 2px;
  background-color: #111;
  color: #fff;
  margin-top: 5px;
  border-radius: 3px;
  line-height: 1.2;
  z-index: 3;
}

:root {
  --animate-duration: 250ms;
  --animate-delay: 250ms;
  --animate-repeat: 1
}
.__animated__.__delay-1s {
  -webkit-animation-delay: calc(var(--animate-delay));
  animation-delay: calc(var(--animate-delay));
  -webkit-animation-delay: calc(var(--animate-delay));
  animation-delay: calc(var(--animate-delay));
}
.__animated__.__delay-2s {
  -webkit-animation-delay: calc(var(--animate-delay)*2);
  animation-delay: calc(var(--animate-delay)*2);
  -webkit-animation-delay: calc(var(--animate-delay)*2);
  animation-delay: calc(var(--animate-delay)*2);
}
.__animated__.__delay-3s {
  -webkit-animation-delay: calc(var(--animate-delay)*3);
  animation-delay: calc(var(--animate-delay)*3);
  -webkit-animation-delay: calc(var(--animate-delay)*3);
  animation-delay: calc(var(--animate-delay)*3);
}
.__animated__.__delay-4s {
  -webkit-animation-delay: calc(var(--animate-delay)*4);
  animation-delay: calc(var(--animate-delay)*4);
  -webkit-animation-delay: calc(var(--animate-delay)*4);
  animation-delay: calc(var(--animate-delay)*4);
}
.__animated__.__delay-5s {
  -webkit-animation-delay: calc(var(--animate-delay)*5);
  animation-delay: calc(var(--animate-delay)*5);
  -webkit-animation-delay: calc(var(--animate-delay)*5);
  animation-delay: calc(var(--animate-delay)*5);
}
.__animated__.__delay-6s {
  -webkit-animation-delay: calc(var(--animate-delay)*6);
  animation-delay: calc(var(--animate-delay)*6);
  -webkit-animation-delay: calc(var(--animate-delay)*6);
  animation-delay: calc(var(--animate-delay)*6);
}
.__animated__.__repeat-3 {
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: calc(var(--animate-repeat)*3);
  animation-iteration-count: calc(var(--animate-repeat)*3);
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

.__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}
.__animated__ {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp
}