@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
#movielist {padding:0;position:relative}
#movielist ul.posters {padding:10px 0 0;list-style:none;margin:0 auto;width: 100%;}

#movielist ul.posters:after {content:""; display:block;float:none;clear:both;} 
#movielist ul.posters li .cols {position:relative;min-width:161px;height:auto;margin:10px -10px;display:inline-block;float:left;background:#fff;overflow:hidden;border:1px #d0d0d0 solid; border-top-right-radius: 5px; border-top-left-radius: 5px;padding: 0;}
#movielist ul.posters li .cols:hover {border-color:#007bff}
#movielist ul.posters li .poster {/* width:161px;*/height:auto;overflow:hidden;position:relative}
#movielist ul.posters li .poster .pimage {/* width:161px;*/height:255px;position:relative;overflow:hidden}
#movielist ul.posters li .poster .pimage .dday {position:absolute;top:3px;right:2px;background:rgba(0,0,0,.8);padding:0 8px;height:21px;line-height:22px;border-radius:3px;color:#fff;font-size:11px;z-index:100}
#movielist ul.posters li .poster .pimage .dday span {color:#ff6000}
#movielist ul.posters li .poster .pimage .poster_img {position:absolute;width:100%;}
#movielist ul.posters li .poster .pimage .no_poster {position:absolute;width:100%;height:255px;line-height:255px;background:#f0f0f0;text-align:center;color:#b0b0b0}
#movielist ul.posters li .poster .pimage .no_poster:after {content:"준비중";}
#movielist ul.posters li .poster .hovercont {height:255px;background:rgba(255,255,255,.85);position:absolute;width:100%;z-index:99;cursor:pointer;display: none;}
#movielist ul.posters li .cols:hover .poster .hovercont {display: block;cursor:default;}

#movielist ul.posters li .poster .hovercont ul {padding:10px;margin-top:30px; list-style: none;}
#movielist ul.posters li .poster .hovercont ul li {height:17px;line-height:17px; color:#212529;font-size:12px;letter-spacing:-0.02em; /*white-space: nowrap; overflow: hidden; text-overflow: ellipsis;*/}
#movielist ul.posters li .poster .hovercont ul li span {color:#212529;display:inline-block;margin-right:4px;font-weight:700;}
#movielist ul.posters li .poster .hovercont ul li.pyear,
#movielist ul.posters li .poster .hovercont ul li.pyear span {color:#007bff;font-weight:700;}
#movielist ul.posters li .poster .hovercont ul li.tt {font-size:15px;font-weight:700;margin-bottom:16px;letter-spacing:-0.03em}

#movielist ul.posters li .cont .sbj a {color:#212529; text-decoration: underline;}
#movielist ul.posters li .cont .sbj a:hover {color:#007bff;}
#movielist ul.posters li .cont .sbj span { font-size: 11px; padding: 0 4px 0 3px; line-height: 15px; margin-left: 5px; color: #fff;}
#movielist ul.posters li .cont .sbj a.a-mobi,
#movielist ul.posters li .cont .sbj a:hover.a-mobi {text-decoration: none;}

#movielist ul.posters li .poster .hovercont ul li span.all,
#movielist ul.posters li .poster .hovercont ul li span.ax12, 
#movielist ul.posters li .poster .hovercont ul li span.ax15,
#movielist ul.posters li .poster .hovercont ul li span.ax18, 
#movielist ul.posters li .poster .hovercont ul li span.axnot {font-size: 11px;color: #fff;padding: 0 3px; margin-right: 0}
#movielist ul.posters li .poster .hovercont ul li span.all {background-color: #3da147;}
#movielist ul.posters li .poster .hovercont ul li span.ax12 {background-color: #22a2dc;}
#movielist ul.posters li .poster .hovercont ul li span.ax15 {background-color: #efa126;}
#movielist ul.posters li .poster .hovercont ul li span.ax18 {background-color: #cb2126;}
#movielist ul.posters li .poster .hovercont ul li span.axnot {background-color: #555;}

#movielist ul.posters li .cont {font-size:12px;font-weight:500;padding:7px 0 0 0;position:relative; margin: 0;}
#movielist ul.posters li .cont .sbj {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;height:24px;line-height:24px;text-align:center;color:#111;font-weight:700;padding:0 5px;margin:1px 0 5px;font-size: 15px;}
#movielist ul.posters li .cont .sbjsub {font-size: 11px; line-height: 13px; font-weight: 400; text-align: center; margin-top: -5px; margin-bottom: 8px; color: #999;}

#movielist ul.posters li .cont .naverstar {margin-top:6px;padding:0;text-align:center; margin: 0; height: 15px;}
#movielist ul.posters li .cont .naverstar .small_star {display:inline-block;position:relative;width:100px;height:15px;background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory&fname=http%3A%2F%2Fcfile28.uf.tistory.com%2Fimage%2F99B978345CF3B4DC248B18') 0 0 no-repeat;text-align:left;}
#movielist ul.posters li .cont .naverstar .small_star .starval {position:absolute;width:100px;height:15px;background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory&fname=http%3A%2F%2Fcfile5.uf.tistory.com%2Fimage%2F99541A3B5CF3B4DD0E22B6') 0 0px no-repeat;left:0;top:0;text-align:left;}
#movielist ul.posters li .cont .rate {text-align:center;font-size:14px;color:#777; margin: 12px 0 10px; line-height: 14px;}
#movielist ul.posters li .cont .jum {font-family: 'Anton', sans-serif; color:#212529; font-size:110%; letter-spacing: 1px}

#movielist ul.posters li .cont .ctrlbox {margin:0;background:#f9f9f9;height:auto}
#movielist ul.posters li .cont .ctrlbox:after {content:""; display:block;float:none;clear:both;} 
#movielist ul.posters li .cont .ctrlbox span {height:18px;line-height:18px;display:inline-block;font-size:12px;box-sizing:border-box; text-align: center;border-right:1px #ddd solid; padding: 0;font-weight:400;border-top:1px #ddd solid; color: #999}
#movielist ul.posters li .cont .ctrlbox span:hover {background-color:#efefef}
#movielist ul.posters li .cont .ctrlbox span.act {font-weight:400;background-color:/* #007bff */#c4c4c4;color: #212529;}
#movielist ul.posters li .cont .ctrlbox span.act1 {font-weight:400;background-color:#fd3842;color: #fff;}
#movielist ul.posters li .cont .ctrlbox span:last-child {border-right:none}