@charset "utf-8";
/*!
 * AneOK-BlogSkin v1.0.0 (http://aneok.tistory.com)
 * Copyright 2015-2019 AneOK blog
 */

/* 색상표 */
.linkcolor, .link-color {color:#fa3420;} /* 파란색 #1e87f0 - 빨강색 ff5b57 */
.text-color, .text, .text a {color:#212529 !important;}
.light-color {color:#f8f9fa;} /* 흰회색 */
.dark-color {color:#343a40;} /* 검정회색 */
.info-color {color:#428bca;} /* 청녹색 */
.warning-color {color:#f0ad4e;} /* 황색 */
.success-color {color:#5cb85c;} /* 녹색 */
.danger-color {color:#d9534f;} /* 붉은색 */

.red, .WWs {color: #F44336 !important;}
.red-back {background-color: #F44336 !important;}
.blue {color: #2196F3 !important;}
.green {color: #4CAF50 !important;}
.orange {color: #ff9800 !important;}
.brown {color: #795548 !important;}
.grey {color: #9e9e9e !important;}
.black {color: #000000 !important;}
.black-back {background-color: #000000 !important;}
.white {color: #FFFFFF !important;}
.light-back {background-color:#f8f9fa !important;} /* 흰회색 */
.transparent {color: transparent !important;}

/* 변색 */
.t-muted {color: #97a1a9 !important;}