@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
#movielist {
	width: 100%;
	margin: 30px auto;
}	
.posters {
	list-style: none;
	padding: 0;
}
.posters li {
margin-left: 0 !important;
}
.poster {
	border:1px #d0d0d0 solid;
	border-radius: 5px;
	padding: 0 0 10px;
}
.posters img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
    margin-top: -15px;
}
.transition-toggle {
  -webkit-tap-highlight-color: transparent;
}
.transition-toggle:focus {
  outline: none;
}
.transition-toggle:hover [class*='transition-slide'],
.transition-toggle:focus [class*='transition-slide'] {
  opacity: 1;
  transform: translate(0, 0);
}
.inline-clip {
    overflow: hidden;
}
[class*='inline'] {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    height: auto;
}
.slide p {
	font-size: 14px;
	line-height: 1.35;
}
.slide p span.cj {
	font-weight: 700;
	padding-right: 10px;
}
.slide p span.sstar {
	padding-right: 10px;
}
.slide hr {
    margin-top: .25rem;
    margin-bottom: .25rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    background-image:none;
    background-color: transparent;
}
.transition-slide-bottom {
    transform: translateY(100%);
}
[class*='transition-slide'] {
    transition: .3s ease-out;
    transition-property: opacity,transform,filter;
    opacity: 0;
}
.position-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
[class*='position-bottom'] {
    position: absolute !important;
}
.overlay-default {
    background: rgba(255,255,255,0.8);
}
.overlay {
    padding: 20px 7px 30px;
}
.margin-0 {
    margin: 0 !important;
}
.margin-tb-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.title25 {
    font-size: 22px !important;
    line-height: 1.4;
    text-transform: none;
    font-weight: 700;
}
.subtitle {
	font-size: 13px;
    line-height: 1;
    text-transform: none;
    margin-bottom: 20px;
    max-width: 210px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.color-g {
	color: #999;
}
.color-r {
	color: #f03f37
}
.margin-small-top {
    margin: 10px 0 0 !important;
    font-weight: 700;
    max-width: 170px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.p-left-1 {
	padding-left: 10px;
}
.pyjum {
	font-family: 'Montserrat', sans-serif;
}
.info-p {
	position: relative;
}
.pyjum-nu {
	font-family: 'Montserrat', sans-serif;
	position:absolute;
	top:0;
	right:7px;
	z-index:101;
}
.sstar {
	display: inline-block;
    padding: 0 10px;
    line-height: 18px;
    font-size: 17px;
    color: #222;
    margin-left: -10px;
}
.sst {
	display: inline-block;
    width: 81px;
    height: 15px;
    background: url('https://tistory1.daumcdn.net/tistory/3088055/skin/images/smallStar.png') no-repeat 0 -15px;
}
.sst em {
    display: block;
    height: 15px;
    background: url('https://tistory1.daumcdn.net/tistory/3088055/skin/images/smallStar.png') no-repeat 0 0;
}
.sstar strong {
    padding-left: 5px;
    font-style: normal;
}
.dday {
	position:absolute;
	top:3px;
	right:2px;
	background:rgba(0,0,0,.8);
	padding:0 8px;
	height:24px;
	line-height:24px;
	border-radius:3px;
	color:#fff;
	font-size:15px;
	z-index:100;
}
.dday span {
	color:#ff6000;
}
.mb-45 {
	margin-bottom: 2rem;
}
/* screen >= 1024px 모바일 영역 (우선) */ 
@media (min-width: 576px) {
	[class*='inline'] {
	    height: 420px;
	}
}
/* screen >= 1024px 모바일 영역 (우선) */ 
@media (min-width: 1024px) {
	[class*='inline'] {
	    height: 300px;
	}	
	.slide hr {
	    margin-top: 1rem;
	    margin-bottom: 1rem;
	}
}	